* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --bg: #fefefe;
  --canvas-bg: #F5F8FA;
  --dark-bg: #1B242F;
  --lighter-dark-bg: #26313f;
  --primary: #46C2C9;
  --dark-primary: #4bb7bd;
  --text: #444649;
}

html {
	scroll-behavior: smooth;
}

body {
  margin: 0px!important;
  overflow-x:hidden;
}

h2 {
  font-size: 3rem;
  font-family: "Lucida Console", "Courier New", monospace;
}

/*
  MISC
*/

.center-title {
  text-align: c;
}

/**
  HEADER
**/

.header {
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
  padding: 1rem;
}

.header-hide {
  transform: scaleY(0);
  overflow: hidden;
}

.header-show {
  transform: scaleY(1);
}

.header-logo {
  height: 6rem;
}

.header-nav {
  display: flex;
}

.header-nav-item {
  color: var(--dark-bg);
  padding: 2rem;
  font-size: 1.2rem;
  transition: color 0.2s;
  text-decoration: none;
  cursor: pointer;
}

/* Mobile Header */

.header-mobile-nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-bg);
  width: 75%;
  top: 0px;
  right: -75%;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  justify-content: space-evenly;
  transition: right 0.3s;
}

.header-mobile-nav-item {
  color: var(--canvas-bg);
  width: 100%;
  text-align: center;
  font-size: 7vw;
  text-decoration: none;
}

.header-mobile-exit-btn {
  background-color: var(--primary);
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  cursor: pointer;
}

.header-menu-btn {
  pointer-events: auto;
  height: 5rem;
  width: 5rem;
}

/*
  LANDING
*/


.landing-canvas-wrapper {
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing-canvas-text {
  text-align: center;
  position: absolute;
  top: 50%;  
  left: 50%; 
  transform: translate(-50%, -50%);
}

.landing-canvas-title {
  color: #1B242F; 
  font-size: 6rem;
  font-weight: 600;
  font-family: "Lucida Console", "Courier New", monospace;
  width: 100%;
}

.landing-canvas-subtitle {
  font-size: 2.5rem;
}

.landing-canvas-btn {
  margin-top: 2rem;
  outline: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--dark-bg);
  color: var(--bg);
  padding: 1rem;
  transition: background-color 0.2s;
}

.landing-canvas-btn:hover {
  background-color: var(--text);
}

.canvas-btn-link {
  text-decoration: none;
  color: var(--canvas-bg);
}

/*
  About Me
*/

.about-me {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-img {
  width: 25%;
  clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.about-me-text {
  font-size: 2rem;
  padding: 4rem;
}

/*
  Projects
*/

.projects-page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-featured-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 4rem;
}

.project-featured-thumbnail {
  width: 50%;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.2s, opacity 1s;
}

.project-featured-thumbnail:hover {
  transform: scale(1.05);
}

.project-featured-content {
  margin-left: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-featured-title {
  text-align: end;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Lucida Console", "Courier New", monospace;
  color: var(--dark-bg);
  margin-bottom: 0.5rem;
}

.project-featured-tech-list {
  color: var(--primary);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-align: end;
}

.project-featured-desc {
  font-size: 1.5rem;
  z-index: 99;
  width: 100%;
  color: var(--canvas-bg);
  background-color: var(--lighter-dark-bg);
  padding: 1rem;
  text-align: end;
}