
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  width: 100%;
  height: 100%;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.featuredProject {
  width: 100%;
  height: 100%;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.featuredProjectContent {
  background-color: var(--dark-background);
}

.featuredProjectTitle {
  cursor: pointer;
  font-weight: 500;
  color: var(--stroke);
  transition: color 0.2s;
}

.featuredProjectTitle:hover {
  color: var(--highlight);
}

.featuredProjectImg {
  width: 100%;
  max-width: 1000px;
  height: 60%;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: transform .2s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.featuredProjectImg:hover {
  transform: scale(1.02);
}

.featuredProjectTechList {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 3rem;
}

.featuredProjectTechLogo {
  height: 5vh;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.featuredProjectText {
  color: var(--paragraph);
  font-size: 1.2rem;
  max-width: 500px;
}

.otherProjectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.otherProjectGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.otherProject {
  display: flex;
  flex-direction: column;
  width: min(25vh, 25vw);
  height: min(25vh, 25vw);
  background-color: var(--dark-background);
  border-radius: 1rem;
  position: relative;
  bottom: 0px;
  transition: bottom 0.2s;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.otherProject:hover {
  bottom: 0.5rem;
}

.otherProjectImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.otherProjectTitle {
  position: absolute;
  top: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  font-weight: 500;
  color: var(--paragraph);
  white-space: nowrap;
  left: 50%;
  transform: translate(-50%, 0%);
}

.selectedProject {
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: var(--dark-background);
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

.selectedProjectImg {
  composes: featuredProjectImg;
  width: 80vw;
  max-width: 700px;
  height: 35vh;
  border-radius: 1rem;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.closeBtn {
  color: var(--highlight);
}

.selectedProjectBtnWrapper {
  position: absolute;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.selectedProjectTitle {
  composes: featuredProjectTitle;
  color: var(--primary);
}

.selectedProjectText {
  composes: featuredProjectText;
  color: var(--secondary);
}

.selectedProjectTechList {
  background-color: var(--background);
  padding: 1rem;
  padding-top: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}

